<div class="h-full flex flex-row items-center justify-center gap-3">
    <a href="https://www.minsait.com/" target="_blank" rel="noopener noreferrer">
        <img 
          src="AF_MINSAIT_LOG_NEG.png"
          alt="Minsait Company Logo" 
          class="h-4 w-auto object-contain"
        >
    </a>
    
    <div class="h-6 w-[1px] bg-minsait-gris">
    </div>
    
    <div class="font-forFuture text-2xl">
        <span class="text-minsait-white">Mag</span>
        <span class="text-minsait-fucsia font-bold">IA</span>
    </div>
</div>