<div class="h-8 w-full text-sm sm:text-xs p-2 flex justify-between items-center text-primary relative overflow-hidden">

  <!-- Left: Copyright (50%) -->
  <div class="w-1/2 sm:max-w-[40%] truncate min-w-0">
    <p class="hidden sm:block truncate overflow-hidden">
      {{ LocalizationKeys.MADE_BY_MISNAIT | translate }}
    </p>
    <p class="block sm:hidden truncate overflow-hidden">
      {{ LocalizationKeys.MADE_BY_MISNAIT_MOBILE | translate }}
    </p>
  </div>

  <!-- Right: AI Message (50%) -->
  <div class="w-1/2 sm:max-w-[40%] truncate min-w-0 text-right">
    <p class="truncate overflow-hidden">
      {{ LocalizationKeys.AI_MESSAGE | translate }}
    </p>
  </div>

</div>
