<div class="h-full bg-minsait-gris shadow-lg sb-bg-transparent sb-th-primary sb-h-accent">
  <app-sidebar
    #sidebar
    [componentId]="'chatbot-sidebar'"
    [isResizable]="true"
    [isCollapsible]="true"
    [openWidth]="'300'"
    [minWidth]="'300'"
    >
    <ng-template>
      <div class="h-full flex flex-col
      sb-bg-transparent sb-th-primary sb-h-accent">
        
        <!-- New Session Button -->
        <div class="w-full flex flex-row justify-between p-4 gap-4">
          <app-button-icon
          #newSessionBtn
          [icon]="newSessionBtn.iconService.icons.newSession"
          [text]="localizationKeys.NEW_SESSION | translate"
          iconPosition="left"
          (click)="createNewSession()">
        </app-button-icon>
        
        @if (allowDocChat) {
          <app-button-icon
            #newDocSessionBtn
            [icon]="newSessionBtn.iconService.icons.newDocumentSession"
            [text]="localizationKeys.NEW_DOC_SESSION | translate"
            iconPosition="left"
            (click)="createNewSession()">
          </app-button-icon>
        }
      </div>

        <div class="w-full flex-1 flex flex-col overflow-auto
        sb-bg-transparent sb-th-primary sb-h-accent">
          <app-chat-session-list></app-chat-session-list>
        </div>
      </div>
    </ng-template>
  </app-sidebar>
</div>
