<div class="h-screen w-screen flex flex-col overflow-hidden bg-background text-background-contrast">
    <!-- Header -->
    <div class="h-0 bg-header text-header-contrast flex-shrink-0">
      <p class="text-center py-2">Header Content</p>
    </div>
  
    <!-- Main Content -->
    <div class="flex-grow overflow-hidden">
      <router-outlet></router-outlet>
    </div>
  
    <!-- Footer -->
    <div class="h-0 bg-header text-header-contrast flex-shrink-0">
      <p class="text-center py-2">Footer Content</p>
    </div>
</div>