<div class="h-full w-full flex flex-col">
  <!-- Modular Header -->
  <app-modular-header
  [showLogo]="false"
  [useNegativeLogo]="true"
  [rightContent]="rightContent">
  </app-modular-header>

  <section class="h-full w-full flex flex-col">
    <div class="flex-1 overflow-y-auto">
      <app-chat-session-history></app-chat-session-history>
    </div>

    <div>
      <app-chatbot-input class="mx-2 flex-shrink-0 bg-transparent"></app-chatbot-input>
    </div>
  </section>
</div>

<ng-template #rightContent>
  <app-user-options-button></app-user-options-button>
</ng-template>