<div class="max-w-32 max-h-16 relative flex items-center p-2 rounded-lg border border-minsait-gris">
    <!-- File Type Icon -->
    <div class="mr-2 text-text-secondary" [innerHTML]="fileIcon"></div>
  
    <!-- File Name -->
    <div class="text-sm text-primary truncate max-w-xs">
      {{ file.name }}
    </div>
  
    <!-- Remove Button -->
    <button (click)="removeFile()" class="absolute top-0 right-0 p-1">
      <svg class="w-4 h-4 text-error hover:text-error-secondary" xmlns="http://www.w3.org/2000/svg" fill="none"
        viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>
  </div>
  