<div class="flex h-full w-full items-center justify-center">
  <div class="w-full max-w-md border border-accent rounded-lg shadow-lg p-8">
    <h2 class="text-2xl font-semibold text-center text-text-tertiary">Alterar Password</h2>
    <form class="mt-6" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <!-- Email Input -->
      <div class="mb-4">
        <label for="email" class="block text-sm font-medium">Email</label>
        <input 
          type="email" 
          id="email" 
          formControlName="email"
          placeholder="Inserir o teu email"
          class="mt-1 w-full px-4 py-2 border border-accent rounded-lg shadow-sm focus:ring focus:ring-accent focus:outline-none text-background-contrast"
        >
        <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="text-sm text-error">
          Por favor, insira um email válido.
        </div>
      </div>
      
      <!-- Password Input -->
      <div class="mb-4">
        <label for="password" class="block text-sm font-medium">Password</label>
        <input 
          type="password" 
          id="password" 
          formControlName="password"
          placeholder="Inserir a tua password"
          class="mt-1 w-full px-4 py-2 border border-accent rounded-lg shadow-sm focus:ring focus:ring-accent focus:outline-none text-background-contrast"
        >
        <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="text-sm text-error">
          A password deve ter pelo menos 6 caracteres.
        </div>
      </div>

      <!-- Submit and Simulate Buttons -->
      <div class="mb-4 flex justify-between">
        <button 
          type="submit"
          [disabled]="registerForm.invalid"
          class="px-4 py-2 text-secondary bg-main-primary border border-accent rounded-lg shadow transition duration-200 focus:outline-none focus:ring focus:ring-accent"
          [ngClass]="registerForm.invalid ? 'cursor-not-allowed' : 'hover:bg-accent'"
        >
          Submeter
        </button>
        <button 
          type="button"
          (click)="simulateRegister()"
          class="px-4 py-2 text-secondary bg-main-primary border border-accent rounded-lg shadow transition duration-200 focus:outline-none focus:ring focus:ring-accent"
          [ngClass]="registerForm.invalid ? 'cursor-not-allowed' : 'hover:bg-accent'"
        >
          Simulate Register
        </button>
      </div>

      <!-- Additional Links -->
      <div class="text-sm text-center">
        <p>Já tens conta? <a [routerLink]="['/auth/login']" class="text-text-highlight hover:underline">Entrar</a></p>
      </div>
    </form>
  </div>
</div>
