/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ForFutureSans';
  src: url('/Fonts/future_sans/WOFF2/ForFutureSans-Regular.woff2') format('woff2'),
       url('/Fonts/future_sans/WOFF/ForFutureSans-Regular.woff') format('woff');
  font-weight: 400; /* Regular */
  font-style: normal;
}

/* CSS Variables for Theme */
:root {
  /* node theme-sync update */
  /* Theme START */
  --header: #480E2A;
  --header-contrast: #E3E2DA;

  --background: #FFFFFF;
  --background-contrast: #260717;

  --primary: #480E2A;
  --primary-hover: #480e2a80;
  --primary-contrast: #E3E2DA;

  --secondary: #E3E2DA;
  --secondary-hover: #e3e2da7e;
  --secondary-contrast: #480E2A;

  --tertiary: #260717;
  --tertiary-hover: #2607177c;
  --tertiary-contrast: #E3E2DA;

  --accent: #FF0054;
  --accent-hover: #FF0054;
  --accent-contrast: #E3E2DA;

  --links-primary: #FF0054;
  --links-primary-hover: #FF0054;

  --links-secondary: #FF0054;
  --links-secondary-hover: #FF0054;

  --links-accent: #FF0054;
  --links-accent-hover: #FF0054;

  --success: #4ACB90;
  --success-secondary: #EAF7F0;

  --error: #F93F3E;
  --error-secondary: #FBE8E8;

  --warning: #FCA12F;
  --warning-secondary: #FAF2E8;

  --info: #60AFFE;
  --info-secondary: #ECF3FB;

  --help: #9011FE;
  --help-secondary: #F0E3FC;

  --focus: #0D5BA6;
  --focus-secondary: #E4EAF2;

  --scrollbar-track: rgb(38, 7, 23);
  --scrollbar-thumb: #E3E2DA;
  --scrollbar-thumb-hover: #FF0054;
  /* Theme END */
}

/* Global Slender Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 32px;
}

/* Scrollbar Background Classes */
.sb-bg-transparent::-webkit-scrollbar-track {
  background: transparent;
}

.sb-bg-primary::-webkit-scrollbar-track {
  background: var(--primary);
}

.sb-bg-secondary::-webkit-scrollbar-track {
  background: var(--secondary);
}

.sb-bg-accent::-webkit-scrollbar-track {
  background: var(--accent);
}

/* Scrollbar Thumb Classes */
.sb-th-primary::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}

.sb-th-secondary::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
}

.sb-th-accent::-webkit-scrollbar-thumb {
  background-color: var(--accent);
}

/* Scrollbar Thumb Hover Classes */
.sb-h-primary::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-hover);
}

.sb-h-secondary::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary-hover);
}

.sb-h-accent::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent-hover);
}

