/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ForFutureSans';
  src: url('/Fonts/future_sans/WOFF2/ForFutureSans-Regular.woff2') format('woff2'),
       url('/Fonts/future_sans/WOFF/ForFutureSans-Regular.woff') format('woff');
  font-weight: 400; /* Regular */
  font-style: normal;
}

/* CSS Variables for Theme */
:root {
  /* node theme-sync update */
  /* Theme START */
  --main-primary: #480E2A;
  --main-primary-contrast: #260717;
  --main-secondary: #E3E2DA;
  --main-secondary-contrast: #FF0054;
  --main-terciary: #FFFFFF;
  --main-terciary-contrast: #FF0054;
  --main-highlight: #FF0054;

  --background-primary: #480E2A;
  --background-secondary: #E3E2DA;
  --background-tertiary: #FFFFFF;
  --background-highlight: #260717;

  --text-primary: #260717;
  --text-secondary: #E3E2DA;
  --text-tertiary: #FFFFFF;
  --text-highlight: #FF0054;

  --border-primary: #260717;
  --border-secondary: #E3E2DA;
  --border-terciary: #FFFFFF;
  --border-highlight: #FF0054;

  --chatbot-background: #FFFFFF;
  --chatbot-bubble-user-background: #480E2A;
  --chatbot-bubble-user-text: #E3E2DA;
  --chatbot-bubble-assistant-background: #260717;
  --chatbot-bubble-assistant-text: #E3E2DA;

  --success: #4ACB90;
  --success-secondary: #EAF7F0;

  --error: #F93F3E;
  --error-secondary: #FBE8E8;

  --warning: #FCA12F;
  --warning-secondary: #FAF2E8;

  --info: #60AFFE;
  --info-secondary: #ECF3FB;

  --help: #9011FE;
  --help-secondary: #F0E3FC;

  --focus: #0D5BA6;
  --focus-secondary: #E4EAF2;

  --scrollbar-track: #FFFFFF;
  --scrollbar-thumb: #E3E2DA;
  --scrollbar-thumb-hover: #480E2A;
  /* Theme END */
}

/* Global Slender Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 10px;
  border: 2px solid var(--scrollbar-track);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover);
}